In [1]:
import json
from logging import getLogger

import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account
from pathlib import Path

# SQL Filepaths
hires_with_geo = (
    Path(__name__).resolve().parent / "hires_with_geo.sql"
)

SCOPES = ["https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/cloud-platform",]

SERVICE_ACCOUNT_FILE = "/Users/frank/london_cycles/london-cycles-306117-3eea1d911957.json"

credentials = service_account.Credentials.from_service_account_file(
        SERVICE_ACCOUNT_FILE, scopes=SCOPES)

with open(hires_with_geo, "r") as file:
    sql = file.read()

logger = getLogger(__name__)

def get_london_cycle_hires(
    credentials: service_account.Credentials,
) -> pd.DataFrame:
    query = sql

    # Create dataframe for migrating meterpoints
    df = pd.read_gbq(
        query,
        project_id="london-cycles-306117",
        dialect="standard",
        credentials=credentials,
        location="EU",
    )

    return df

In [3]:
get_london_cycle_hires(credentials)

,duration,duration_minutes,start_date,end_date,start_lat,start_long,from_p,end_lat,end_long,to_p,line
0,3180,53.0,2015-09-03 11:52:00+00:00,2015-09-03 12:45:00+00:00,51.505014,-0.173060,POINT(-0.17306032 51.505014),51.510017,-0.157276,POINT(-0.157275636 51.5100172),"LINESTRING(-0.17306032 51.505014, -0.157275636..."
1,2040,34.0,2017-06-09 17:56:00+00:00,2017-06-09 18:30:00+00:00,51.511246,-0.093051,POINT(-0.093051 51.511246),51.517932,-0.183717,POINT(-0.183716959 51.517932),"LINESTRING(-0.093051 51.511246, -0.183716959 5..."
2,2280,38.0,2017-04-22 09:36:00+00:00,2017-04-22 10:14:00+00:00,51.518811,-0.011662,POINT(-0.011662 51.518811),51.535678,-0.062546,POINT(-0.062546 51.535678),"LINESTRING(-0.011662 51.518811, -0.062546 51.5..."
3,2340,39.0,2016-10-09 03:52:00+00:00,2016-10-09 04:31:00+00:00,51.469260,-0.141813,POINT(-0.141812513 51.46925984),51.490436,-0.122807,POINT(-0.122806861 51.49043573),"LINESTRING(-0.141812513 51.46925984, -0.122806..."
4,2160,36.0,2016-06-26 06:50:00+00:00,2016-06-26 07:26:00+00:00,51.535179,-0.033380,POINT(-0.03338 51.535179),51.535580,-0.082490,POINT(-0.08249 51.53558),"LINESTRING(-0.03338 51.535179, -0.08249 51.53558)"
...,...,...,...,...,...,...,...,...,...,...,...
995,2820,47.0,2015-07-05 16:31:00+00:00,2015-07-05 17:18:00+00:00,51.502042,-0.184400,POINT(-0.184400221 51.50204238),51.499917,-0.174554,POINT(-0.174554 51.499917),"LINESTRING(-0.184400221 51.50204238, -0.174554..."
996,2340,39.0,2017-06-10 13:14:00+00:00,2017-06-10 13:53:00+00:00,51.468814,-0.210279,POINT(-0.210279 51.468814),51.519167,-0.147983,POINT(-0.147983 51.519167),"LINESTRING(-0.210279 51.468814, -0.147983 51.5..."
997,10680,178.0,2015-07-15 17:23:00+00:00,2015-07-15 20:21:00+00:00,51.502042,-0.184400,POINT(-0.184400221 51.50204238),51.515530,-0.190241,POINT(-0.190240716 51.51552971),"LINESTRING(-0.184400221 51.50204238, -0.190240..."
998,2880,48.0,2015-08-06 13:12:00+00:00,2015-08-06 14:00:00+00:00,51.541603,-0.138853,POINT(-0.138853 51.541603),51.536392,-0.112721,POINT(-0.112721065 51.53639219),"LINESTRING(-0.138853 51.541603, -0.112721065 5..."
999,2100,35.0,2016-09-14 01:29:00+00:00,2016-09-14 02:04:00+00:00,51.513735,-0.193487,POINT(-0.193487 51.513735),51.513735,-0.193487,POINT(-0.193487 51.513735),POINT(-0.193487 51.513735)